* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
}

.field {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.field:not(:last-child) {
  margin-right: 30px;
}
.value {
  display: block;
  font-size: 30px;
  color: rgb(4, 4, 134);
}
.label {
  text-align: center;
  font-family: Square Peg;
  font-weight: 700;
  font-size: 24px;
}
.button {
  padding: 6px 12px;
  border-radius: 12px;
  background-color: #f6f7f8;
  box-shadow: 0px 4px 10px rgba(135, 167, 171, 0.5);
  font-size: 12px;
  color: black;
  font-weight: 500;
  text-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.15);
  outline: none;
  cursor: pointer;
}

input {
  padding: 0;
  font-size: 18px;
  border: 10px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 10px rgba(135, 167, 171, 0.5);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  appearance: none;
  outline: none;
  color: #333;
}
